<nav class="navbar bg-info">
  <div class="container-fluid">

      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">





      <li routerLinkActive="active">
        <a routerLink="books"> <i class="fas fa-camera-retro"></i></a>
      </li>
      <li routerLinkActive="active" *ngIf="!isAuth">


          <a routerLink="auth/signup"><i class="fas fa-user-plus ">
        </i></a>
      </li>






      <ul class="nav navbar-nav navbar-right">

      <li routerLinkActive="active" *ngIf="!isAuth">
        <a routerLink="auth/signin"><i class="fas fa-user"></i></a>
      </li>
      <li>
        <a (click)="onSignOut()"
           style="cursor:pointer"
           *ngIf="isAuth"><i class="fas fa-user-times"></i></a>
      </li>
    </ul>
  </div>
  <app-search></app-search>

</nav>
