



<h1> hello ! bienvenue sur mon site !</h1>
   <table class="table  table-striped">

<section routerLinkActive="active" *ngIf="!isAuth">

  <div class="text-center">

  <button class="btn btn-info" type="submit"><a routerLink="../auth/signup"> Crée un compte</a> </button>

</div>
</section>

</table>

<section routerLinkActive="active" *ngIf="!isAuth">


<div class="text-center">
  <button class="btn btn-success" type="submit">   <a routerLink="../auth/signin">se connecter</a> </button>
</div>
</section>
