h1{

    text-align: center;

}

.jumbotron {
  color: white; 
  background-color: #9bb 
}
.jumbotron:hover {
  background-color: red; 
}

. navbar{
    padding:16px;
    font: 20px Arial;
    text-align: center;
    color:#fff;
    width:90px;
    border-radius:2px;
    border:1px solid white;
    transition:all 0.3s;
    text-decoration:none;

}
.btn-info:hover
{

    border:none;
    background-color:green;
}

.btn-warning:hover
{

    border:none;
    background-color:blue;
}

[class*="col"] {

padding-top: 150px;
}

.btn-info
{
float : right;
}
