<div id="search-component col-md-8 col-md-offset-2">

      <div class="row">
      <form class="form-horizontal col-md-8 col-md-offset-2" role="form" ng-controller="HeaderCtrl">
          <div class="input-group">
              <input ng-model="query" type="text" class="form-control" placeholder="rechercher ">
          <span class="input-group-btn">
            <button type="submit" class="btn btn-default glyphicon glyphicon-search" type="button" ng-click="searchAction()"></button>
          </span>
          </div>
      </form>
  </div>
</div>
